* {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #687FE5;
    padding: 15px;
    border-radius: 15px;
    margin-top: 5px;
}

button {
    border-radius: 15px;
    border: none;
    background-color: #FEEBF6;
    padding: 2px;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 10px;   
    height: 20px;
    border-radius: 15px;
    border: none;
    background-color: #FEEBF6;
}


.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    padding: 20px;
}

.board div {
    width: 200px;
    height: 200px;
    /* background-color: aqua; */
}

.board div:hover {
    cursor: pointer;
}

.board .activeX {
    background-color: #687FE5;
}

.board .activeX:hover {
    cursor: default;
}

.board .activeO {
    background-color: #FCD8CD;
}

.board .activeO:hover {
    cursor: default;
}

.board div:nth-child(3n+1), .board div:nth-child(3n+2) {
    border-right: 1px solid black;
}

.board div:nth-child(-n+6) {
    border-bottom: 1px solid black;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}
